/* BODY */

body{
  background:linear-gradient(
    135deg,
    #eef2f7,
    #ffffff
  );
  font-family:"Segoe UI",sans-serif;
}



/* NAVBAR */

.navbar{
  border-bottom:1px solid #e5e7eb;
}

.navbar-brand{
  letter-spacing:.5px;
}



/* UPCOMING BOX */

.upcoming-box{
  background:#fff;
  padding:22px 26px;
  border-radius:14px;
  border:1px solid #e5e7eb;
  box-shadow:0 4px 15px rgba(0,0,0,0.05);
}



/* FILTER BUTTON */

.filter-btn{
  margin:5px;
  border-radius:20px;
}



/* CARDS */

.card{
  border:none;
  border-radius:16px;
  overflow:hidden;
  transition:.35s;
  box-shadow:0 4px 18px rgba(0,0,0,.06);
}

.card:hover{
  transform:translateY(-6px);
  box-shadow:0 14px 35px rgba(0,0,0,.15);
}



/* REGISTER BTN */

.btn-info{
  background:linear-gradient(
    135deg,
    #06b6d4,
    #0891b2
  );
  border:none;
}



/* FOOTER */

.footer{
  background:linear-gradient(
    135deg,
    #0f172a,
    #020617
  );
  color:#e5e7eb;
}

.footer h5{
  color:#fff;
}

.footer a{
  color:#cbd5e1;
  text-decoration:none;
}

.footer a:hover{
  color:#22d3ee;
}



/* SOCIAL ICONS */

.social-icons a{
  display:inline-flex;
  width:36px;
  height:36px;
  align-items:center;
  justify-content:center;
  border-radius:50%;
  background:rgba(255,255,255,.08);
  margin-right:6px;
  color:#fff;
  transition:.3s;
}

.social-icons a:hover{
  background:#06b6d4;
}
